<div class="container">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>TITLE</th>
            <th>GENRE</th>
            <th>LENGTH</th>
            <th>DIRECTOR</th>
            <th>YEAR</th>
            <th>COUNTRY</th>
            <th>SUBTITLES</th>
            <th>AUDIO</th>
            <th>PRODUCER</th>
        </thead>
        <tbody>
            <tr *ngFor="let dvd of dvds">
                <td id="dvdId" [routerLink]="['/dvds/',dvd.id]">{{dvd?.id}}</td>
                <td>{{dvd?.details.title}}</td>
                <td>{{dvd?.details.genre}}</td>
                <td>{{dvd?.details.length}}</td>
                <td>{{dvd?.details.director}}</td>
                <td>{{dvd?.details.year}}</td>
                <td>{{dvd?.details.country}}</td>
                <td>{{dvd?.details.subtitles}}</td>
                <td>{{dvd?.details.audio}}</td>
                <td>{{dvd?.details.producer}}</td>
                <td (click)="deleteDvd(dvd.id)"><b>X</b></td>
            </tr>
        </tbody>
    </table>
</div>