<div class="container">
    <div>
        <ul>
            <li >
                <a routerLinkActive="active" [routerLink]="['/userProfile']">My Profile</a>
            </li>
            <li >
                <a routerLinkActive="active" [routerLink]="['/shoes']">Shoes</a>
            </li>
            <li >
                <a routerLinkActive="active" [routerLink]="['/knives']">Knives</a>
            </li>
            <li >
                <a routerLinkActive="active" [routerLink]="['/ropes']">Ropes</a>
            </li>
            <li >
                <a routerLinkActive="active" [routerLink]="['/dvds']">DVD's</a>
            </li>
        </ul>
    </div>
</div>