<div class="container">
    <div class="allign-middle">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/shoes']">Shoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/myBookshelves']">Knives</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/myBookshelves-compare']">Ropes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/dvds']">DVD's</a>
            </li>
        </ul>
    </div>
</div>