<button class="btn btn-primary mt-1" [routerLink]="['/shoes']"> BACK</button>
<div class="container">
    <table class="table">
        <thead>
            <th>BRAND</th>
            <th>COLOR</th>
            <th>CUT</th>
            <th>GENDER</th>
            <th>MATERIAL</th>
            <th>MODEL</th>
            <th>SIZE</th>
            <th>USAGE</th>
        </thead>
        <tbody>
            <tr>
                <td>{{shoes?.brand}}</td>
                <td>{{shoes?.color}}</td>
                <td>{{shoes?.cut}}</td>
                <td>{{shoes?.gender}}</td>
                <td>{{shoes?.material}}</td>
                <td>{{shoes?.model}}</td>
                <td>{{shoes?.size}}</td>
                <td>{{shoes?.usage}}</td>

            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <button (click)="edit=!edit" class="btn btn-primary mt-1">Edit Item</button>
    <div *ngIf="edit">
        <app-shoe-list-form [shoes]="shoes"></app-shoe-list-form>
    </div>
</div>