<div class="form-group; container">
    <h1 *ngIf="shoesId == undefined">Add new Shoes</h1>
    <h1 *ngIf="shoesId != undefined">Edit Shoes</h1>
    <form [formGroup]="shoesForm" >
        <div>
            <label>Brand </label>
            <input type="text" formControlName="brand" class="form-control">

        </div>

        <div>
            <label>Color </label>
            <input type="text" formControlName="color" class="form-control">

        </div>

        <div>
            <label>Cut </label>
            <select formControlName="cut" class="form-control">
                <option *ngFor="let c of cuts" [value]="c">{{c}}</option>
              </select>

        </div>
        <div>
            <label>Gender </label>
            <select formControlName="gender" class="form-control">
                <option *ngFor="let g of genders" [value]="g">{{g}}</option>
              </select>

        </div>
        <div>
            <label>Material </label>
            <input type="text" formControlName="material" class="form-control">

        </div>
        <div>
            <label>Model </label>
            <input type="text" formControlName="model" class="form-control">

        </div>
        <div>
            <label>Size </label>
            <input type="number" formControlName="size" class="form-control">

        </div>
        <div>
            <label>Usage </label>
            <select formControlName="usage" class="form-control">
                <option *ngFor="let u of usages" [value]="u">{{u}}</option>
              </select>

        </div>

        <button [disabled]="!shoesForm.valid" *ngIf="shoesId == undefined" (click)="onSubmit()" class="btn btn-primary mt-1">Save</button>
        <button [disabled]="!shoesForm.valid" *ngIf="shoesId != undefined" (click)="onEdit()" class="btn btn-primary mt-1">Edit</button>
    </form>
</div>